extends ../layout

block content
	h1.
		Project ID #{project._id}
	form(action='/projects/#{project._id}/edit',method='post',name='updateproject',enctype='application/x-www-form-urlencoded')
		p Name: 
			input#inputName(type="text", value=project.name, name="name")
		p Description: 
			input#inputDescription(type="text", value=project.description, name="description")
		p Price:
			input#inputPrice(type="number", value=project.price, name="price")
		p Finished Tasks: 
			input#inputFinishedTasks(type="text", value=project.finishedTasks, name="finishedtasks")
		p Start Date: 
			input#inputStartDate(type="date", name="startdate", value=project.startDate)
		p End Date: 
			input#inputEndDate(type="date", name="enddate", value=project.endDate)
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update